@model BusinessLogic.Entities.Perfil
@{
    ViewBag.Title = "Relatório Perfil";
    Layout = "_Layout4";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="RelPerfil">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pais" class="control-label"></label>
                <input asp-for="Pais" class="form-control"/>
                <span asp-validation-for="Pais" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

