@model IEnumerable<BusinessLogic.Entities.Areaprofissional>
@{
    ViewBag.Title = "Area Profissional";
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<h1 class="text-center">Lista das áreas profissionais</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome Área Profissional
            </th>
          <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAreaPrfossional)
            </td>
        </tr>
}
    </tbody>
</table>

