@using Microsoft.AspNetCore.Http
@model BusinessLogic.Entities.Areaprofissional
@{
    ViewBag.Title = "Area Profissional";
    Layout = "~/Views/Shared/_Layout4.cshtml";

}

<h1>Editar</h1>

<h4>área Profissional</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edits">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
                <label asp-for="NomeAreaPrfossional" class="control-label">Nome Área Profissional</label>
                <input asp-for="NomeAreaPrfossional" type="text" class="form-control" value="@ViewBag.Nome" />
                <span asp-validation-for="NomeAreaPrfossional" class="text-danger"></span>
            </div>
            <input id="Id" name="Id" type="hidden" value="@ViewBag.Id" />
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
