@model IEnumerable<BusinessLogic.Entities.Utilizador>

@{
    ViewBag.Title = "Relatórios";
    Layout = "_Layout2";
}
<h2 class="text-center"> Preço </h2> 


Preço Médio por mês: @ViewBag.teste$

