@model System.Collections.Generic.IEnumerable<BusinessLogic.Entities.Utilizador>

@{
    ViewData["Title"] = "Index User";
    
    Layout = "~/Views/Shared/_Layout5.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Informações pessoais</title>
</head>
<body>

<h2>Informações pessoais</h2>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>
                <strong>Nome Utilizador</strong>
            </th>
            <th>
                <strong>Username</strong>
            </th>

            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr >
                <td>
                    @Html.DisplayFor(modelItem => item.NomeUtilizador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>


            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>