@model List<UsersModel>?

@{
    ViewBag.Title = "Index"; 
    Layout = "~/Views/Shared/_Layout4.cshtml";
}



<!DOCTYPE html>

<html>
<head>
    <title>Lista dos utilizadores</title>
</head>
<body>

<p>
    <a class="btn btn-primary" asp-area="" asp-action="Create">Criar Novo Utilizador</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            <strong>Nome de Utilizador</strong>
        </th>
        <th>
            <strong>Username</strong>
        </th>
        <th>
            <strong>Password</strong>
        </th>
         
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomeUtilizador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
     
          
        </tr>
    }
    </tbody>
</table>


</body>
</html>