@{
    ViewData["Title"] = "Home Page";
}
<html>


<div class="text-center">
    <h1 class="display-4">ERRO!!</h1>
    <img height="600" src="../Views/assets/http-errors.jpg" width="500">    
</div>

</html>