@using Microsoft.AspNetCore.Http
@model System.Collections.Generic.IEnumerable<BusinessLogic.Entities.Utilizador>


@{
    ViewData["Title"] = "IndexAdmin";
    //Layout = "~/Views/Shared/_Layout2.cshtml";
    
}
<h2>BEM VINDO ADMIN!</h2>