@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 mt-5 mb-4"> BEM-VINDO</h1>
    <a class="btn btn-primary" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Registo" asp-action="Index">Registo</a>
</div>